@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
  background-color: #fdfdfd; /* Warmer white */
  color: #334155;
}

.font-hand {
  font-family: 'Patrick Hand', cursive;
}
